<section id="header">

    <div class="container header">
        <div class="logo">

            <img src="./../../../../assets/Images/logo.png" width="50px" />

            <span class="title">Learning Angular</span>

        </div>

        <div class="controls">

            <nav>
                <ul class="navigation">
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>

            </nav>

            <div class="actions">

                <button (click)="changeTheme()">
                    <mat-icon #themeIcon>wb_sunny</mat-icon>
                </button>

                <mat-icon>brightness_2</mat-icon>

            </div>

        </div>
    </div>

</section>