#header{
    height: 70px;
}

.header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: var(--h1-heading);
}

.logo, .controls {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

mat-icon:hover{
    color: var(--angular-pink);
    transition: color .3s ease-in-out;
}