<section id="header">

    <div class="container header">
        <div class="logo">

            <img src="./../../../../assets/Images/angular_logo.png" width="50px" />

            <span class="title">Learning Angular</span>

        </div>

        <div class="controls">

            <ng-container *ngIf="isDarkMode; else toLightMode">
                <mat-icon (click)="changeTheme()">brightness_2</mat-icon>
            </ng-container>

            <ng-template #toLightMode>
                <mat-icon (click)="changeTheme()" #isLightMode>wb_sunny</mat-icon>
            </ng-template>

        </div>
    </div>

</section>