#header {
    height: 70px;
}

.header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: var(--h1-heading);
}

.logo,
.controls {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.logo:hover {
    transform: scale(1.03);
    color: var(--background-gradient);
    transition: all var(--animation-duration) ease-in-out;
}

.logo:hover .title {
    background-position: 0 100%;
}

mat-icon:hover {
    color: var(--angular-pink);
    transition: color var(--animation-duration) ease-in-out;
}