<div class="app_div">
  This is the main app component
  <br><br>
  <strong>{{ title }}</strong> is gotten from the <strong>.ts</strong> file
</div>

<br>

<!-- To enable app routing -->
<div class="routing">
  <router-outlet>
  
  </router-outlet>
</div>

<!-- <div class="post_div"> -->
  <!-- {{ message }} -->
  <!-- <app-post [AppMessage] = 'message' (postOutputEmitter) = 'receiveMessage()'></app-post>
</div>

<div class="account_div">
  <app-account> -->
    <!-- Account component goes here -->
  <!-- </app-account>
</div> -->