#home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.mainImage {
    width: 150px;
    height: 150px;
    margin: 50px auto;
    border: 2px solid #333;
    border-radius: 50%;
    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
        border: 1px solid var(--angular-red);
    }

    50% {
        transform: rotate(180deg) scale(1.5);
        border: 1px solid var(--angular-pink);
    }

    to {
        transform: rotate(360deg) scale(1);
        border: 1px solid var(--angular-purple);
    }
}

/* Lessons */
.lessons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap);
    width: var(--narrow-width);
    margin: var(--section-margin) auto;
}

.lesson {
    cursor: pointer;
    border: 1px solid var(--body-text);
    border-radius: var(--border-corner-radius);
    padding: .8rem 1rem;
    animation: border-rainbow 3s linear infinite;
}

.lesson:hover {
    border: none;
    transform: scale(1.03);
    animation: animate 3s linear infinite;
    box-shadow: .5px .5px .5rem var(--angular-pink);
}

.lesson:nth-child(even) {
    animation-direction: reverse;
}

@keyframes border-rainbow {
    0% {
        border: 1px solid#333;
    }

    20% {
        border: 1px solid#06C;
    }

    40% {
        border: 1px solid#090;
    }

    60% {
        border: 1px solid#FC0;
    }

    80% {
        border: 1px solid#F00;
    }

    100% {
        border: 1px solid#606;
    }
}

@keyframes animate {
    50% {
        filter: hue-rotate(350deg);
    }
}