/* Universal Styles */

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --gap: 1rem;
    --narrow-width: 60%;
    --h1-heading: 1.5rem;
    --section-margin: 2rem;
    --border-corner-radius : 1rem;
    --animation-duration: .4s;
    --var-small-padding: 1rem;
    --background-color: #fdfdfd;
    --body-text: #000000;
    --main-color: #d36e38;
    --border-radius: 1.3px;
    --angular-red: #f60746;
    --angular-pink: #ef34e1;
    --angular-purple: #971ef6;
    --background-gradient: linear-gradient(to bottom right, var(--background-color), hsla(274, 92%, 54%, 0.5));
}

.darkMode {
    --background-color: #1E1E1E;
    --body-text: white;
}

html,
body {
    max-height: 100vh;
    height: 100%;
    font-family: 'Montserrat', sans-serif !important;
    letter-spacing: -.5px !important;
    background-color: var(--background-color);
    color: var(--body-text);
    overflow: hidden;
}

body {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    margin-bottom: 0;
}

li {
    list-style: none;
}

/* Media Queries */
@media all and (max-width:1000px) {
    :root {
        --gap: 2rem;
    }
}